<div class="animated fadeIn">
  <div class="row">

    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="card card-accent-primary">
          <div class="card-header">
            ALLIZE SRL </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>Persoana de contact: </b> Paun Maria </li>
              <li class="list-group-item"><b>Numar de telefon: </b> 0780.098.201</li>
              <li class="list-group-item"><b>Adresa: </b> str. Flori de Camp, nr.3, Otopeni, Ilfov</li>
              <li class="list-group-item"><b>CUI: </b> RO19258176</li>
              <li class="list-group-item"><b>Banca: </b> BCR Otopeni</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card card-accent-secondary">
          <div class="card-header">
            PLAST NORM SRL </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>Persoana de contact: </b> Diaconu Marius</li>
              <li class="list-group-item"><b>Numar de telefon: </b> 0770.99.546</li>
              <li class="list-group-item"><b>Adresa: </b> str. Siriului, nr.90, Bucuresti, Sector 1</li>
              <li class="list-group-item"><b>CUI: </b> RO19888154</li>
              <li class="list-group-item"><b>Banca: </b> Banca Transilvania Promenada</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card card-accent-success">
          <div class="card-header">
            Alfa Plast SRL </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>Persoana de contact: </b> Bondea Mariana </li>
              <li class="list-group-item"><b>Numar de telefon: </b> 0789.909.201</li>
              <li class="list-group-item"><b>Adresa: </b> blv. Regina Elisabeta, nr.390, Bucuresti, Sector5</li>
              <li class="list-group-item"><b>CUI: </b> RO10876123</li>
              <li class="list-group-item"><b>Banca: </b> ING Intercontinental</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-6 col-md-4">
        <div class="card card-accent-info">
          <div class="card-header">
            Card with accent
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>Persoana de contact: </b> Paun Maria </li>
              <li class="list-group-item"><b>Numar de telefon: </b> 0780.098.201</li>
              <li class="list-group-item"><b>Adresa: </b> str. Flori de Camp, nr.3, Otopeni, Ilfov</li>
              <li class="list-group-item"><b>CUI: </b> RO19258176</li>
              <li class="list-group-item"><b>Banca: </b> BCR Otopeni</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card card-accent-warning">
          <div class="card-header">
            Card with accent
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>Persoana de contact: </b> Paun Maria </li>
              <li class="list-group-item"><b>Numar de telefon: </b> 0780.098.201</li>
              <li class="list-group-item"><b>Adresa: </b> str. Flori de Camp, nr.3, Otopeni, Ilfov</li>
              <li class="list-group-item"><b>CUI: </b> RO19258176</li>
              <li class="list-group-item"><b>Banca: </b> BCR Otopeni</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card card-accent-danger">
          <div class="card-header">
            Card with accent
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>Persoana de contact: </b> Paun Maria </li>
              <li class="list-group-item"><b>Numar de telefon: </b> 0780.098.201</li>
              <li class="list-group-item"><b>Adresa: </b> str. Flori de Camp, nr.3, Otopeni, Ilfov</li>
              <li class="list-group-item"><b>CUI: </b> RO19258176</li>
              <li class="list-group-item"><b>Banca: </b> BCR Otopeni</li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
