<!-- <div class="animated fadeIn">
  <div class="item active" style="background-image: url(assets/img/brand/fabrica.jpg)">

    <div style="width:400px; margin:0 auto;">
      <b> Welcome user!</b>
    </div>
  </div>
</div> -->

<div class="animated fadeIn">
  <div class="card-header">
    <h2>Welcome!</h2>
  </div>
  <div class="card" style="height: 100vh; min-height: 100vh;">

    <div class="card-body" style="height: 100vh;">
      <div class="img_bg" style="background-image: url(assets/img/brand/fabrica.jpg); height:100%;"
        data-stellar-background-ratio="0.5">
      </div>
    </div>
  </div>
</div>
