<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6 mb-4">

      <tabset>

        <div class="card-header">
          <strong>Punct de lucru Ocna Mures
          </strong>
        </div>

        <tab heading="Locatie">
          Ocna Mures, strada Horea, nr. 28
        </tab>
        <tab heading="Program de lucru">
          <p> 9.00 – 17.00 </p>
          <p> Luni – Vineri</p>
        </tab>
        <tab heading="Contact">
          <p> Marcu Marius 0731.490.708</p>
          <p> Email: marius.marcu@terraplast.eu</p>
        </tab>

      </tabset>

    </div>

    <!--/.col-->
    <div class="col-md-6 mb-4">
      <!-- Nav tabs -->
      <tabset>

        <div class="card-header">
          <strong>Punct de lucru Maruntisu, Titu
          </strong>
        </div>

        <tab heading="Locatie">
          Sat Mărunţisu
          Costestii din Vale, Dambovita, România </tab>
        <tab heading="Program de lucru">
          <p>8.00 – 16.00 </p>
          <p> Luni – Vineri</p>
        </tab>
        <tab heading="Contact">
          <p> Stanciucu Marian – 0732.649.461</p>
          <p> Email: comenzi@terraplast.eu</p>
        </tab>

      </tabset>

    </div>

    <!--/.col-->
    <div class="col-md-6 mb-4">
      <!-- Nav tabs -->
      <tabset>

        <div class="card-header">
          <strong>Punct de lucru Havana
          </strong>
        </div>

        <tab heading="Locatie">
          Bucuresti, Sector 1, Aleea Havana, Nr. 1
        </tab>
        <tab heading="Program de lucru">
          <p> 8.00 – 16.00 </p>
          <p> Luni – Vineri</p>
        </tab>
        <tab heading="Contact">
          <p>Mihai Paun -0040 721 671 112</p>
          <p>Email: mihai.paun@terraplast.eu</p>
        </tab>

      </tabset>
    </div>
    <!--/.col-->

    <!--/.col-->
  </div>
  <!--/.row-->
</div>
